{
    "timeout": 10,
    "source": {
        "directories": [
            "Classes"
        ]
    },
    "phpUnit": {
        "configDir": "Tests",
        "customPath": "tools\/phpunit.phar"
    },
    "logs": {
        "text": ".logs/infection.log"
    },
    "mutators": {
        "@default": true
    }
}